<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8"/>
    <title>Aplikasi Spring Boot</title>
</head>
<body>
<div th:fragment="content">
    <br />
    <br />
<h1>Aplikasi Spring Boot dengan Thymeleaf</h1>

<form name="f" th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>

<ul>
    <li th:text="'Waktu : '+${waktu}">Di ganti waktu</li>
    <li th:text="'Nama : '+${nama}">nanti di isi name</li>
</ul>
</div>
</body>
</html>