<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>


    <title>Daftar Materi</title>

</head>


<body ng-app="aplikasiPelatihan">
<div th:fragment="content">
<br/>
<br/>
<h1>Daftar Materi</h1>
<div th:fragment="content">
    <form name="f" th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
    <div ng-controller="HaloController">
        <table class="table table-condensed table-striped">
            Email Anda : <input type="text" ng-model="email"/>
            <button ng-click="tambahEmail()">Tambahkan</button>
            <br/>

            Halo {{email}}

            Daftar Email:
            <ul>
                <li ng-repeat="e in daftarEmail">

                    {{e}}
                    <button ng-click="hapusEmail(e)">Hapus</button>
                </li>
            </ul>
        </table>
    </div>

    <div ng-controller="MateriController">
        <table class="table table-condensed table-striped">
            <table border="1">
                <thead>
                <tr>
                    <th>Kode</th>
                    <th>Nama</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="m in dataMateri.content">
                    <td>{{m.kode}}</td>
                    <td>{{m.nama}}</td>
                    <td>
                        <button ng-click="hapusMateri(m)">hapus</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </table>
        <table class="table table-condensed table-striped">
            <table border="1">
                <tbody>
                <tr>
                    <td>Kode</td>
                    <td>
                        <input type="text" ng-model="materi.kode" required="true"/>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Nama</td>
                    <td>
                        <input type="text" ng-model="materi.nama" required="true"/>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <button ng-click="simpanMateri">Simpan</button>
                    </td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </table>


    </div>

</div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="/js/pelatihan.js"></script>

</div>
</body>
</html>