<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daftar Peserta</title>
</head>
<body>
<div th:fragment="content">
    <br />
    <br />

        <input type="submit" value="Logout"/>
    </form>
    <table class="table table-condensed table-striped">
    <h1>Daftar Peserta</h1>

        <thead>
        <tr>
            <th>Nama</th>
            <th>Email</th>
            <th>Tanggal Lahir</th>
            <th>&nbsp;</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="p : ${daftarPeserta}">
            <td th:text="${p.nama}">IQBAL</td>
            <td th:text="${p.email}">iqbal@gmail.com</td>
            <td th:text="${p.tanggalLahir}">1997-08-04</td>
            <td>
                <a href="form.html" th:href="@{/peserta/form(id=${p.id})}">
                    edit
                </a>|
                <a href="view.html" th:href="@{/peserta/view(id=${p.id})}">
                    lihat
                </a>|
                <a href="hapus.html" th:href="@{/peserta/hapus(id=${p.id})}">
                    hapus
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>